/* Colors: */
/* https://designschool.canva.com/blog/website-color-schemes/ */
/* http://jsfiddle.net/Z4VWc/1/ */

:root{
    --ornate-color: #AB9353;
    --plum-color: #4D2C3d;
    --olive-color: #123809;
    --sleekGrey-color: #A5A5AF;
    --bluebell-color: #155765;
}

body {
	font-family: "Times New Roman", Times, serif;
	margin: 0;
}

h1 {
	text-align: center;
	font-size: 40px;
}

h2 {
	text-align: center;
	font-size: 25px;
}

h3 {
	text-align: center;
	font-size: 18px;
}

h4 {
	text-align: left;
	font-size: 18px;
}

hr {
	width: 500px;
}

p {
	text-align: justify;
	font-size: 14px;
	 margin: 20px; /* adjust as needed */
}

ul {
	font-size: 14px;
}
ol {
	font-size: 14px;
}
li {
	font-size: 14px;
}

figure {
    /*display: inline-block;*/
    border: 1px dotted var(--sleekGrey-color);
    margin: 20px; /* adjust as needed */
    position: relative;
    float: right;

}
figure img {
    vertical-align: top;
}
figure figcaption {
    border: 1px dotted blue;
    text-align: center;
    font-size: 12px;
}

body {
	font-family: "Times New Roman", Times, serif;
	margin: 0;
}

#mainContainer {
	width: 915px;
	height: 590px;	
	margin: auto;
}

.mainHeader {
	/*margin: 0px;*/
	padding: 2px 2px 2px 5px;
	color: white;
	background-color: var(--ornate-color);
	text-align: center;
}

#headerContainer {
	width: 913px;
	float: left;
	text-align: left;
	margin: 0 0 10px 0;
	display: inline-block;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: var(--sleekGrey-color);
}

#aboutContainer {
	width: 853px;
	float: left;
	text-align: left;
	margin: 0;
	padding: 0 30px 0 30px;
	display: inline-block;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: var(--sleekGrey-color);
	background-color: white;
}

.subHeader {
	margin: 0;
	padding: 2px 0 2px 0;
	clear: both;
	text-align: center;
	font-style: italic;
	color: white;
	background-color: var(--plum-color);
}

#mainContainer a {
	color: var(--ornate-color);
}

#headerContainer ol {
	width: 75%;
	margin: 2px;
	font-size: 14px;
}

#headerContainer li {
	margin: 0px;
}

svg { border: 1px solid #dedede; }

#svgContainer {
/*	width: 400px;*/
	height: 400px;
	width: 500px;
	height: 100%;
	float: center;
	background-color: var(--olive-color);
	display: block;
}

